QPushButton {
    color: rgb%(yellow)s;
    border: 1px solid rgb%(light-grey)s;
    background-color: rgb%(grey)s;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
QPushButton:disabled {
    color: rgb%(light)s;
    border: 1px solid rgb%(mid-grey)s;
    background-color: rgb%(dark-grey)s;
}

QPushButton:pressed {
    background-color: rgb%(dark-grey)s;
}

QPushButton:hover:!pressed {
    background-color: rgb%(mid-grey)s;
}
