QCheckBox {
    color: rgb%(base-text)s;
    background: none;
    border: 0px;
    width: 12px;
    height: 12px;
    padding-left: 6px;
}

QCheckBox[dirtyDisplay="false"]:checked {
    color: rgb%(blue)s;
}

QGroupBox::indicator {
     width: 13px;
     height: 13px;
}

QGroupBox::title {
     left: 10px;
     margin-left: 4px;
}

QCheckBox::indicator:checked {
    image: url("%(icons-root)s/checkbox_checked.png");
}
QCheckBox::indicator:checked:disabled {
    image: url("%(icons-root)s/checkbox_checked_disabled.png");
}

QCheckBox::indicator:!checked {
    image: url("%(icons-root)s/checkbox_unchecked.png");
}
QCheckBox::indicator:!checked:disabled {
    image: url("%(icons-root)s/checkbox_unchecked_disabled.png");
}

QCheckBox::indicator:checked:hover {
    image: url("%(icons-root)s/checkbox_checked_hover.png");
}
QCheckBox::indicator:!checked:hover {
    image: url("%(icons-root)s/checkbox_unchecked_hover.png");
}
