QMenu {
    color: rgb%(yellow)s;
    background-color: rgb%(grey)s;
    margin: 2px;
}

QMenu::icon {
  margin: 0px;
}

QMenu::item:selected {
    color: rgb%(yellow)s;
    background: rgb%(mid-grey)s;
}

QMenu::indicator {
  width: 12px;
  height: 12px;
  padding-left: 6px;
}

QMenu::indicator:non-exclusive:unchecked {
  image: url("%(icons-root)s/checkbox_unchecked.png");
}

QMenu::indicator:non-exclusive:unchecked:selected {
  image: url("%(icons-root)s/checkbox_unchecked_disabled.png");
}

QMenu::indicator:non-exclusive:checked {
  image: url("%(icons-root)s/checkbox_checked.png");
}

QMenu::indicator:non-exclusive:checked:selected {
  image: url("%(icons-root)s/checkbox_checked_disabled.png");
}

QMenu::indicator:exclusive:unchecked {
  image: url("%(icons-root)s/radiobox_unchecked.png");
}

QMenu::indicator:exclusive:unchecked:selected {
  image: url("%(icons-root)s/radiobox_unchecked_disabled.png");
}

QMenu::indicator:exclusive:checked {
  image: url("%(icons-root)s/radiobox_checked.png");
}

QMenu::indicator:exclusive:checked:selected {
  image: url("%(icons-root)s/radiobox_checked_disabled.png");
}

QMenu::right-arrow {
  margin: 5px;
  image: url("%(icons-root)s/arrow_right.png");
  height: 12px;
  width: 12px;
}
