QListView, QTreeView, QTableView, QListWidget, QTableWidget {
    color : rgb%(base-text)s;
    background-color : rgb%(dark-grey)s;
    border : 1px solid rgb%(mid-grey)s;
    alternate-background-color: rgb%(grey)s;
    outline: 0;
}
QTableView::item, QListWidget::item {
    background-color: transparent;
    padding-left: 8px;
}

QTreeView, QListView, QTableView, QListWidget, QTableWidget {
    selection-color: black;
    selection-background-color: rgb%(blue)s;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected,
QListWidget::item:selected
{
    color : black;
    background-color : rgb%(yellow)s;
}

QTreeView::item:selected:hover,
QListView::item:selected:hover,
QTableView::item:selected:hover,
QListWidget::item:selected:hover
{
    background-color  : rgb%(light-yellow)s;
}

QTreeView::item:!selected:hover,
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QListWidget::item:!selected:hover
{
    background-color  : rgb%(mid-grey)s;
}

QTableWidget > QLabel:selected {
    color : black;
    background-color : rgb%(yellow)s;
}
