QMainWindow, QDialog {
    color : rgb%(base-text)s;
    background-color : rgb%(background)s;
    border : 1px solid rgba%(grey)s;
}

QDockWidget {
    color : rgb%(yellow)s;
    background-color : rgb%(background)s;
    border : 1px solid rgba%(grey)s;
}

QDockWidget::title {
    padding: 6px;
    spacing: 4px;
    color : rgb%(yellow)s;
    background-color : rgb%(grey)s;
    border : 1px solid rgb%(light-grey)s;
}
